<div class="interface">
    <p class="interface__sort">
        <img class="interface__svg" src="/assets/sort.svg">
        Сортировать по
        <ng-container *ngFor="let button of sortParams; last as isLast">
            <button class="interface__param" [ngClass]="{active: button.isActive}" (click)="setParam(button.param)">
                {{button.text}}
            </button>
            <span *ngIf="!isLast">/</span>
        </ng-container>
    </p>
    <button class="interface__reload" (click)="updateCompanies()"><img class="interface__svg" src="assets/reload.svg">Обновить</button>
    <a class="interface__button" routerLink="add-company">Добавить компанию</a>
</div>

<ul class="companies">
    <li class="companies__company" *ngFor="let company of companies">
        <div class="companies__wrapper">
            <a class="companies__name">{{company.business_name}}</a>
            <img class="companies__logo" src={{company.logo}} alt="Логотип {{company.business_name}}">
        </div>
        <p class="companies__industry">{{company.industry}}</p>
        <p class="companies__type">{{company.type}}</p>
    </li>
</ul>

<div class="more" *ngIf="!isLoading">
    <button class="more__button" (click)="getCompanies()">Показать еще</button>
</div>