* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #F9FBFE;

    margin: 0;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    padding: 0;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
    font: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}   

li {
    list-style-type: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4 {
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px
}

@media screen and (max-width: 1000px) {
    body {
        padding: 25px;
    }
}

@media screen and (max-width: 750px) {
    .companies__logo {
        height: 100%;
        max-width: 100px;
    }

    .interface {
        max-width: 700px;
        flex-direction: column;
    }

    .interface__sort {
        font-size: 0.6em;
    }

    .interface__svg {
        max-height: 10px;
    }

    .interface__reload {
        margin: 15px 0;
        font-size: 0.8em;
    }

    .add {
        padding:0 30px;
    }

    .add__button {
        font-size: 1em;
    }
    
    .add__cancel {
        font-size: 0.9em;
    }

    .companies__company {
        padding: 10px 20px 20px;
    }

    .about__logo {
        display: none;
    }
}